.table-recruiters-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 10px;
  }
  
  .table-container {
    width: 48%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .table-wrapper {
    max-height: 200px; /* Adjust this height to show approximately 3-4 rows */
    overflow-y: auto;
  }
  
  .table-container table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table-container thead th {
    position: sticky;
    top: 0;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    z-index: 1; /* Ensure it stays above other content */
  }
  
  .table-container tbody td {
    border-bottom: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  
  .metrics {
    display: flex;
    margin-bottom: 20px;
  }
  
  .metric {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    flex: 1;
    margin-right: 50px;
  }
  
  .metric h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .metric p {
    font-size: 15px;
    font-weight: bold;
  }
  
  .charts {
    display: flex;
    justify-content: space-between;
    width: 98%;
  }
  
  .chart {
    background-color: #fff;
    padding: 20px;
    padding-top: 0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin-right: 20px;
    height: 90%;
  }
  
  .chart h3 {
    font-size: 18px;
    margin-bottom: 0;
    padding-left: 5px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    font-family: Inter, sans-serif;
    overflow: auto;
  }
  
  .custom-table th,
  .custom-table td {
    border-bottom: 1px solid #e2e8f0;
    padding: 8px 12px;
    text-align: left;
  }
  
  .custom-table th {
    color: #475569;
    font-weight: 600;
    font-size: 14px;
    background-color: #f1f5f9;
  }
  
  .custom-table td {
    color: #334155;
    font-size: 14px;
  }
  
  .chart2 table {
    margin-top: 10px;
  }
  