.chart-container {
    /* background-color: rgba(222, 238, 245, 0.68); */
    /* border: 2px dashed rgba(173, 216, 230, 1); */
    /* padding: 20px; */
    border-radius: 8px;
    display: flex;
    flex-grow: 1;
    align-items: stretch;
    gap: 7px;
    font-family: Inter, -apple-system, Roboto, Helvetica, sans-serif;
    font-size: 16px;
    color: rgba(30, 30, 30, 1);
    font-weight: 300;
    white-space: nowrap;
    width: 100%;
    flex-wrap: wrap;
  }
  
  .chart-container .chart-content {
    margin-top: 5px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
    width: fit-content;
  }
  
  @media (max-width: 991px) {
    .chart-container {
      margin-top: 40px;
      white-space: initial;
    }
  
    .chart-container .chart-content {
      max-width: 100%;
      white-space: initial;
    }
  }
  