.reports-container {
    max-width: 1000px;
    font-family: 'Inter', sans-serif;
    padding: 0 1rem;
    margin-left: 300px;

  }
  
  .subheading {
    color: #2563eb;
    font-size: 1rem;
    font-weight: 600;
  }
  
  .header-row {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
  }
  
  .main-heading {
    font-size: 1.75rem;
    font-weight: 700;
  }
  
  .hindi-text {
    font-family: 'Noto Sans Devanagari', serif;
  }
  
  .date-text {
    font-size: 0.9rem;
  }
  
  .subtitle {
    font-size: 1.05rem;
    margin: 0.5rem 0 2rem;
    color: #555;
  }
  
  .section-title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }
  
  .filters {
    display: flex;
    gap: 4rem;
    margin-bottom: 1rem;

   
  }
  
  .filters select{
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    min-width: 20rem;
  
   
  }
  .filters button {
    padding: 0.5rem 1rem;
    font-size: 0.95rem;
    margin-left: 350px;
    width:100px;
  }
  
  .export-btn {
    background-color: #f3f4f6;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .reports-table-container {
    max-height: 400px; /* Adjust the height as needed */
    overflow-y: auto;
    border: 1px solid #e5e7eb;
    width:1200px;
    margin-bottom: 20px;
  }
  
  .reports-table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
  }
  
  .reports-table thead {
    background-color: #f9fafb;
  }
  
  .reports-table th,
  .reports-table td {
    padding: 0.75rem;
    border: 1px solid #e5e7eb;
    text-align: left;
  }
  
  .reports-table thead th {
    position: sticky;
    top: 0;
    background-color: #f9fafb;
    z-index: 1;
  }
  